    <!--
    <div id="loading-page" class="loading-page">
      <div class="content-img logo"><img src="assets/img/logos/logo-white.svg" alt="company logo light"></div>
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div> -->

    <button id="dark-mode" class="btn"><i class="bi bi-brightness-high md"></i><span class="ms-2">Dark Mode</span></button>

    <header>

      <div class="header-one">

        <div class="container">

          <div class="d-flex">

            <div class="d-flex flex-wrap align-items-center justify-content-start">
              <p class="d-flex align-items-center justify-content-center m-0 pt-1 pb-1"><i class="bi bi-envelope d-flex align-items-center justify-content-center"></i><span class="ms-2">vicentcdb@gmail.com</span></p>

            </div>

            <div class="d-flex flex-wrap flex-column align-items-center justify-content-start navbar p-0 ms-auto">
              <nav class="navbar navbar-expand-xl w-100 h-100 p-0 d-flex justify-content-end">
                <button class="navbar-toggler d-flex d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdownTop" aria-controls="navbarNavDropdownTop" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon d-none"></span>
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <div class="collapse collapse-horizontal navbar-collapse justify-content-center" id="navbarNavDropdownTop">
                  <div class="row w-100">
                    <div class="col-xl-12 mb-2 p-0 navbar-collapse-header">
                      <div><a href="./home/1" class="navbar-brand w-100 d-flex logo"><img src="assets/img/logos/logo-white.svg" width="100" height="100" alt="company logo"></a></div>
                      <div class="d-flex justify-content-end ms-auto"><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdownTop" aria-controls="navbarNavDropdownTop" aria-expanded="false" aria-label="Toggle navigation"><i class="bi bi-arrow-right-square"></i></button></div>
                    </div>
                    <ul class="navbar-nav col-xl-7 col-md-7 d-flex flex-wrap align-items-center p-0 m-0">
                      <!--
                        <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="affiliate-program.html">
                          <i class="bi bi-piggy-bank"></i>
                          <span>Affiliate</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="contact-us.html">
                          <i class="bi bi-chat-dots"></i>
                          <span>Chat</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="blog.html">
                          <i class="bi bi-journal-text"></i>
                          <span>Blog</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="announcements.html">
                          <i class="bi bi-megaphone"></i>
                          <span>Announcements</span>
                        </a>
                      </li> -->
                    </ul>
                    <ul class="navbar-nav col-xl-5 col-md-5 d-flex flex-wrap align-items-center justify-content-end p-0 m-0">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="nav-languages" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="bi bi-globe2"></i>
                          <span>English - US</span>
                        </a>
                        <ul class="countries w-auto dropdown-menu dropdown-modern" aria-labelledby="nav-languages">
                          <li class="nav-item mt-1 mb-1 active">
                            <a href="#" class="d-flex align-items-center justify-content-start">
                              <div class="flag"><img src="assets/img/countries/us.svg" width="100" height="100" alt="United States Flag"></div>
                              <span class="ms-3">English - United States</span>
                            </a>
                          </li>
                          <li class="nav-item mt-1 mb-1">
                            <a href="#" class="d-flex align-items-center justify-content-start">
                              <div class="flag"><img src="assets/img/countries/gb.svg" width="100" height="100" alt="United Kingdom Flag"></div>
                              <span class="ms-3">English - United Kingdom</span>
                            </a>
                          </li>
                          <li class="nav-item mt-1 mb-1">
                            <a href="#" class="d-flex align-items-center justify-content-start">
                              <div class="flag"><img src="assets/img/countries/ca.svg" width="100" height="100" alt="Canada Flag"></div>
                              <span class="ms-3">English - Canada</span>
                            </a>
                          </li>
                          <li class="nav-item mt-1 mb-1">
                            <a href="#" class="d-flex align-items-center justify-content-start">
                              <div class="flag"><img src="assets/img/countries/ua.svg" width="100" height="100" alt="Ukraine Flag"></div>
                              <span class="ms-3">Ukrainian - Ukraine</span>
                            </a>
                          </li>
                          <li class="nav-item mt-1 mb-1">
                            <a href="#" class="d-flex align-items-center justify-content-start">
                              <div class="flag"><img src="assets/img/countries/ch.svg" width="100" height="100" alt="Switzerland Flag"></div>
                              <span class="ms-3">Romansh - Switzerland</span>
                            </a>
                          </li>
                          <li class="nav-item mt-1 mb-1">
                            <a href="#" class="d-flex align-items-center justify-content-start">
                              <div class="flag"><img src="assets/img/countries/cn.svg" width="100" height="100" alt="China Flag"></div>
                              <span class="ms-3">Chinese - China</span>
                            </a>
                          </li>
                          <li class="nav-item mt-1 mb-1">
                            <a href="#" class="d-flex align-items-center justify-content-start">
                              <div class="flag"><img src="assets/img/countries/br.svg" width="100" height="100" alt="Brazil Flag"></div>
                              <span class="ms-3">Portuguese - Brazil</span>
                            </a>
                          </li>
                          <li class="nav-item mt-1 mb-1">
                            <a href="#" class="d-flex align-items-center justify-content-start">
                              <div class="flag"><img src="assets/img/countries/pt.svg" width="100" height="100" alt="Portugal Flag"></div>
                              <span class="ms-3">Portuguese - Portugal</span>
                            </a>
                          </li>
                          <li class="nav-item mt-1 mb-1">
                            <a href="#" class="d-flex align-items-center justify-content-start">
                              <div class="flag"><img src="assets/img/countries/fr.svg" width="100" height="100" alt="France Flag"></div>
                              <span class="ms-3">French - France</span>
                            </a>
                          </li>
                          <li class="nav-item mt-1 mb-1">
                            <a href="#" class="d-flex align-items-center justify-content-start">
                              <div class="flag"><img src="assets/img/countries/in.svg" width="100" height="100" alt="India Flag"></div>
                              <span class="ms-3">Hindi - India</span>
                            </a>
                          </li>
                          <li class="nav-item mt-1 mb-1">
                            <a href="#" class="d-flex align-items-center justify-content-start">
                              <div class="flag"><img src="assets/img/countries/es.svg" width="100" height="100" alt="Spain Flag"></div>
                              <span class="ms-3">Spanish - Spain</span>
                            </a>
                          </li>
                          <li class="nav-item mt-1 mb-1">
                            <a href="#" class="d-flex align-items-center justify-content-start">
                              <div class="flag"><img src="assets/img/countries/it.svg" width="100" height="100" alt="Italy Flag"></div>
                              <span class="ms-3">Italian - Italy</span>
                            </a>
                          </li>
                        </ul>
                      </li>
                     
                    </ul>
                  </div>
                </div>
              </nav>
            </div>

          </div>

        </div>

      </div>

      <div class="header-two fixed-header">

        <div class="container">

          <div class="row">

            <div class="col-md-2 col-sm-9" style="padding: 0px;">
              <div class="h-100 d-flex align-items-center">
                <a href="./home/1" class="navbar-brand w-200 logo logo-dark"><img src="assets/img/logos/logo.png" alt="company logo dark"></a>
                <a href="./home/1" class="navbar-brand w-100 logo logo-light d-none"><img src="assets/img/logos/logo-white.svg" alt="company logo light" width="100" height="100"></a>
              </div>
            </div>
            
            <div class="col-sm-3">

              <div class="h-100 d-flex align-items-center justify-content-end">
                <nav class="navbar navbar-expand-xl p-0 ms-auto">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon d-none"></span>
                    <i class="bi bi-filter-right"></i>
                  </button>
                  <div class="collapse collapse-horizontal navbar-collapse" id="navbarNavDropdown">
                    <div class="navbar-collapse-header row">
                      <div class="col-md-7"><a href="index-2.html" class="navbar-brand w-100 d-flex logo"><img src="assets/img/logos/logo-white.svg" width="100" height="100" alt="company logo"></a></div>
                      <div class="col-md-5 d-flex justify-content-end"><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><i class="bi bi-arrow-right-square"></i></button></div>
                    </div>
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="./home/1">
                          <i class="bi bi-house-door"></i>
                          <span>Home</span>
                        </a>
                      </li>

                      <!--
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="nav-services" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="bi bi-layers"></i>
                          <span>Services</span>
                        </a>
                        <ul class="dropdown-menu dropdown-modern" aria-labelledby="nav-services">
                          <li>
                            <span>Domain</span>
                            <ul class="mt-2">
                              <li class="nav-link"><a href="domain-register.html"><i class="bi bi-globe"></i><span class="ms-2">Domain Register</span></a></li>
                              <li class="nav-link"><a href="domain-transfer.html"><i class="bi bi-arrow-repeat"></i><span class="ms-2">Domain Transfer</span></a></li>
                              <li class="nav-link"><a href="whois.html"><i class="bi bi-info-circle"></i><span class="ms-2">Domain Info</span></a></li>
                            </ul>
                          </li>
                          <li>
                            <span>Hosting</span>
                            <ul class="mt-2">
                              <li class="nav-link"><a href="cpanel-hosting.html"><i class="bi bi-window-dock"></i><span class="ms-2">cPanel SSD Hosting</span></a></li>
                              <li class="nav-link"><a href="directadmin-hosting.html"><i class="bi bi-window-dock"></i><span class="ms-2">DirectAdmin Hosting</span></a></li>
                              <li class="nav-link"><a href="wordpress-hosting.html"><i class="bi bi-wordpress"></i><span class="ms-2">Wordpress Hosting</span></a></li>
                            </ul>
                          </li>
                          <li>
                            <span>Reseller</span>
                            <ul class="mt-2">
                              <li class="nav-link"><a href="reseller-hosting.html"><i class="bi bi-layers"></i><span class="ms-2">Reseller Hosting</span></a></li>
                              <li class="nav-link"><a href="domain-reseller.html"><i class="bi bi-globe"></i><span class="ms-2">Domain Reseller</span></a></li>
                              <li class="nav-link"><a href="vps-reseller.html"><i class="bi bi-hdd-stack"></i><span class="ms-2">VPS Reseller</span></a></li>
                            </ul>
                          </li>
                          <li>
                            <span>Servers</span>
                            <ul class="mt-2">
                              <li class="nav-link"><a href="vps-server.html"><i class="bi bi-layers"></i><span class="ms-2">VPS Server</span></a></li>
                              <li class="nav-link"><a href="cloud-computing.html"><i class="bi bi-cloud-fog2"></i><span class="ms-2">Cloud Computing</span></a></li>
                              <li class="nav-link"><a href="dedicated-servers.html"><i class="bi bi-hdd-stack"></i><span class="ms-2">Dedicated Servers</span></a></li>
                            </ul>
                          </li>
                          <li>
                            <span>Services</span>
                            <ul class="mt-2">
                              <li class="nav-link"><a href="ssl-certificate.html"><i class="bi bi-file-earmark-lock"></i><span class="ms-2">SSL Certificate</span></a></li>
                              <li class="nav-link"><a href="website-builder.html"><i class="bi bi-palette"></i><span class="ms-2">Website Builder</span></a></li>
                              <li class="nav-link"><a href="e-commerce.html"><i class="bi bi-shop"></i><span class="ms-2">E-commerce</span></a></li>
                            </ul>
                          </li>
                          <li>
                            <span>Tools</span>
                            <ul class="mt-2">
                              <li class="nav-link"><a href="whois.html"><i class="bi bi-info-circle"></i><span class="ms-2">WHOIS Lookup</span></a></li>
                              <li class="nav-link"><a href="locate-ip.html"><i class="bi bi-pin-map"></i><span class="ms-2">Locate IP/Domain</span></a></li>
                              <li class="nav-link"><a href="bulk-domain-search.html"><i class="bi bi-globe"></i><span class="ms-2">Bulk Domain Search</span></a></li>
                            </ul>
                          </li>
                        </ul>
                      </li> -->
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="nav-hosting" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="bi bi-hdd-rack"></i>
                          <span>Java</span>
                        </a>
                        <ul class="dropdown-column dropdown-menu dropdown-modern" aria-labelledby="nav-hosting">
                          <li>
                            <span>Java</span>
                            <ul class="mt-2">
                              <li class="nav-link"><a href="cpanel-hosting.html"><i class="bi bi-window-dock"></i><span class="ms-2">Documentação</span></a></li>
                              <li class="nav-link"><a href="directadmin-hosting.html"><i class="bi bi-window-dock"></i><span class="ms-2">Configurando o Java Windows</span></a></li>
                              <li class="nav-link"><a href="wordpress-hosting.html"><i class="bi bi-wordpress"></i><span class="ms-2">Configurando o Java Linux</span></a></li>
                            </ul>
                          </li>
                          <li>
                            <span>SpringBoot</span>
                            <ul class="mt-2">
                              <li class="nav-link"><a href="reseller-hosting.html"><i class="bi bi-layers"></i><span class="ms-2">Iniciando um projeto</span></a></li>
                              <li class="nav-link"><a href="domain-reseller.html"><i class="bi bi-globe"></i><span class="ms-2">Spring Boot</span></a></li>
                              <li class="nav-link"><a href="vps-reseller.html"><i class="bi bi-hdd-stack"></i><span class="ms-2">Spring MVC</span></a></li>
                            </ul>
                          </li>
                          <li>
                            <span>Orientação à Objetos OO</span>
                            <ul class="mt-2">
                              <li class="nav-link"><a href="vps-server.html"><i class="bi bi-layers"></i><span class="ms-2">Intro</span></a></li>
                              <li class="nav-link"><a href="cloud-computing.html"><i class="bi bi-cloud-fog2"></i><span class="ms-2">Exemplos práticos</span></a></li>
                              <li class="nav-link"><a href="dedicated-servers.html"><i class="bi bi-hdd-stack"></i><span class="ms-2">Dedicated Servers</span></a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>

                      <!--
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="nav-company" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="bi bi-book"></i>
                          <span>Company</span>
                        </a>
                        <ul class="dropdown-column dropdown-menu dropdown-modern-sample" aria-labelledby="nav-company">
                          <li class="nav-link"><a href="contact-us.html"><i class="bi bi-people"></i><span class="ms-2">Contact Us</span></a></li>
                          <li class="nav-link"><a href="about-us.html"><i class="bi bi-info-square"></i><span class="ms-2">About Us</span></a></li>
                          <li class="nav-link"><a href="blog.html"><i class="bi bi-rss"></i><span class="ms-2">Blog</span></a></li>
                          <li class="nav-link"><a href="terms-of-service.html"><i class="bi bi-card-text"></i><span class="ms-2">Terms of Service</span></a></li>
                          <li class="nav-link"><a href="privacy-policy.html"><i class="bi bi-card-text"></i><span class="ms-2">Privacy Policy</span></a></li>
                          <li class="nav-link"><a href="cookies-policy.html"><i class="bi bi-card-text"></i><span class="ms-2">Cookie Policy</span></a></li>
                        </ul>
                      </li> -->
                      <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="contact-us.html">
                          <i class="bi bi-people"></i>
                          <span>Contato</span>
                        </a>
                      </li>

                      <!--
                      <li class="nav-item nav-item-btn">
                        <a class="btn btn-primary text-white ms-4" aria-current="page" href="register.html">
                          <span>Get Started</span>
                        </a>
                      </li>
                      <li class="nav-item nav-item-btn ms-1">
                        <a class="btn btn-transparent" aria-current="page" href="login.html">
                          <span>Sign In</span>
                        </a>
                      </li> -->
                    </ul>
                  </div>
                </nav>
              </div>

            </div>

          </div>

        </div>

      </div>

    </header>
