<footer>
    <div class="footer-offer border-bottom">
      <div class="container">
        <!--
          <div class="row g-2"><div class="col-md-4"><div class="h-100 p-2 d-flex flex-column justify-content-center"><span class="title">Sign up for web hosting today!</span></div></div><div class="col-md-4"><div class="h-100 p-2 d-flex flex-column justify-content-center align-items-center"><span class="title">Introductory offer</span><span class="title">$2.75/mo*</span></div></div><div class="col-md-4"><div class="h-100 p-2 d-flex flex-column justify-content-center"><a href="register.html" class="btn btn-primary p-2 rounded-0">Get Started</a></div></div></div> -->
      </div>
    </div>
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="info w-75">
              <a href="./home" class="d-flex logo logo-dark">
                <img src="assets/img/logos/logo.png" width="100" height="100" alt="company logo dark">
              </a>
              <a href="./home" class="d-flex logo logo-light d-none">
                <img src="assets/img/logos/logo-white.svg" width="100" height="100" alt="company logo light">
              </a>
              <p class="mt-3">Inexus is an online hosting company that offers website hosting services, virtual private servers and customizable servers. In addition to offering domain registration and transfer services.</p>
              <span class="title">Social Network</span>
              <nav>
                <ul class="icon-list d-flex flex-wrap p-0 mt-2">
                  <li class="nav-item rounded mt-1 mb-1 me-2">
                    <a href="#" aria-label="Facebook">
                      <i class="bi bi-facebook"></i>
                    </a>
                  </li>
                  <li class="nav-item rounded mt-1 mb-1 me-2">
                    <a href="#" aria-label="Twitter">
                      <i class="bi bi-twitter"></i>
                    </a>
                  </li>
                  <li class="nav-item rounded mt-1 mb-1 me-2">
                    <a href="#" aria-label="Google">
                      <i class="bi bi-google"></i>
                    </a>
                  </li>
                  <li class="nav-item rounded mt-1 mb-1 me-2">
                    <a href="#" aria-label="Linkedin">
                      <i class="bi bi-linkedin"></i>
                    </a>
                  </li>
                  <li class="nav-item rounded mt-1 mb-1 me-2">
                    <a href="#" aria-label="Instagram">
                      <i class="bi bi-instagram"></i>
                    </a>
                  </li>
                  <li class="nav-item rounded mt-1 mb-1 me-2">
                    <a href="#" aria-label="Youtube">
                      <i class="bi bi-youtube"></i>
                    </a>
                  </li>
                </ul>
              </nav>
              <span class="title">Contato</span>
              <div class="mt-2 mb-4">
                <p class="m-0 mt-1 mb-1">
                  <i class="bi bi-envelope"></i>
                  <span>info@example.com</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="row justify-content-between">
              <div class="col-xl-3 col-md-6 ms-auto">
                <nav class="nav-modern">
                  <ul class="d-flex flex-column justify-content-start">
                    <li class="mb-4 mb-md-5">
                      <span class="hr position-relative">Domain</span>
                      <ul class="mt-4">
                        <li class="nav-link">
                          <a href="domain-register.html">
                            <i class="bi bi-globe"></i>
                            <span class="ms-2">Domain Register</span>
                          </a>
                        </li>
                        <li class="nav-link">
                          <a href="domain-transfer.html">
                            <i class="bi bi-arrow-repeat"></i>
                            <span class="ms-2">Domain Transfer</span>
                          </a>
                        </li>
                        <li class="nav-link">
                          <a href="whois.html">
                            <i class="bi bi-info-circle"></i>
                            <span class="ms-2">Domain Info</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="mb-4 mb-md-5">
                      <span class="hr position-relative">Hosting</span>
                      <ul class="mt-4">
                        <li class="nav-link">
                          <a href="cpanel-hosting.html">
                            <i class="bi bi-window-dock"></i>
                            <span class="ms-2">cPanel SSD Hosting</span>
                          </a>
                        </li>
                        <li class="nav-link">
                          <a href="directadmin-hosting.html">
                            <i class="bi bi-window-dock"></i>
                            <span class="ms-2">DirectAdmin</span>
                          </a>
                        </li>
                        <li class="nav-link">
                          <a href="wordpress-hosting.html">
                            <i class="bi bi-wordpress"></i>
                            <span class="ms-2">Wordpress Hosting</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="mb-4 mb-md-5">
                      <span class="hr position-relative">Reseller</span>
                      <ul class="mt-4">
                        <li class="nav-link">
                          <a href="reseller-hosting.html">
                            <i class="bi bi-layers"></i>
                            <span class="ms-2">Reseller Hosting</span>
                          </a>
                        </li>
                        <li class="nav-link">
                          <a href="domain-reseller.html">
                            <i class="bi bi-globe"></i>
                            <span class="ms-2">Domain Reseller</span>
                          </a>
                        </li>
                        <li class="nav-link">
                          <a href="vps-reseller.html">
                            <i class="bi bi-hdd-stack"></i>
                            <span class="ms-2">VPS Reseller</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="col-xl-3 col-md-6 ms-auto">
                <nav class="nav-modern">
                  <ul class="d-flex flex-column justify-content-start">
                    <li class="mb-4 mb-md-5">
                      <span class="hr position-relative">Servers</span>
                      <ul class="mt-4">
                        <li class="nav-link">
                          <a href="vps-server.html">
                            <i class="bi bi-layers"></i>
                            <span class="ms-2">VPS Server</span>
                          </a>
                        </li>
                        <li class="nav-link">
                          <a href="cloud-computing.html">
                            <i class="bi bi-cloud-fog2"></i>
                            <span class="ms-2">Cloud Computing</span>
                          </a>
                        </li>
                        <li class="nav-link">
                          <a href="dedicated-servers.html">
                            <i class="bi bi-hdd-stack"></i>
                            <span class="ms-2">Dedicated Servers</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="mb-4 mb-md-5">
                      <span class="hr position-relative">Services</span>
                      <ul class="mt-4">
                        <li class="nav-link">
                          <a href="ssl-certificate.html">
                            <i class="bi bi-file-earmark-lock"></i>
                            <span class="ms-2">SSL Certificate</span>
                          </a>
                        </li>
                        <li class="nav-link">
                          <a href="website-builder.html">
                            <i class="bi bi-palette"></i>
                            <span class="ms-2">Website Builder</span>
                          </a>
                        </li>
                        <li class="nav-link">
                          <a href="e-commerce.html">
                            <i class="bi bi-shop"></i>
                            <span class="ms-2">E-commerce</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="mb-4 mb-md-5">
                      <span class="hr position-relative">Tools</span>
                      <ul class="mt-4">
                        <li class="nav-link">
                          <a href="whois.html">
                            <i class="bi bi-info-circle"></i>
                            <span class="ms-2">WHOIS Lookup</span>
                          </a>
                        </li>
                        <li class="nav-link">
                          <a href="locate-ip.html">
                            <i class="bi bi-pin-map"></i>
                            <span class="ms-2">Locate IP/Domain</span>
                          </a>
                        </li>
                        <li class="nav-link">
                          <a href="bulk-domain-search.html">
                            <i class="bi bi-globe"></i>
                            <span class="ms-2">Domains Search</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="col-xl-3 col-md-6 ms-auto">
                <nav class="nav-modern">
                  <ul class="d-flex flex-column justify-content-start">
                    <li class="mb-4 mb-md-5">
                      <span class="hr position-relative">Portal</span>
                      <ul class="mt-4">
                        <li class="nav-link">
                          <a href="login.html">
                            <i class="bi bi-shield-lock"></i>
                            <span class="ms-2">Login</span>
                          </a>
                        </li>
                        <li class="nav-link">
                          <a href="register.html">
                            <i class="bi bi-person"></i>
                            <span class="ms-2">Register</span>
                          </a>
                        </li>
                        <li class="nav-link">
                          <a href="cart.html">
                            <i class="bi bi-cart"></i>
                            <span class="ms-2">Cart</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="mb-4 mb-md-5">
                      <span class="hr position-relative">Company</span>
                      <ul class="mt-4">
                        <li class="nav-link">
                          <a href="contact-us.html">
                            <i class="bi bi-people"></i>
                            <span class="ms-2">Contact Us</span>
                          </a>
                        </li>
                        <li class="nav-link">
                          <a href="about-us.html">
                            <i class="bi bi-info-square"></i>
                            <span class="ms-2">About Us</span>
                          </a>
                        </li>
                        <li class="nav-link">
                          <a href="blog.html">
                            <i class="bi bi-rss"></i>
                            <span class="ms-2">Blog</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="mb-4 mb-md-5">
                      <span class="hr position-relative">Legal</span>
                      <ul class="mt-4">
                        <li class="nav-link">
                          <a href="terms-of-service.html">
                            <i class="bi bi-card-text"></i>
                            <span class="ms-2">Terms of Service</span>
                          </a>
                        </li>
                        <li class="nav-link">
                          <a href="privacy-policy.html">
                            <i class="bi bi-card-text"></i>
                            <span class="ms-2">Privacy Policy</span>
                          </a>
                        </li>
                        <li class="nav-link">
                          <a href="cookies-policy.html">
                            <i class="bi bi-card-text"></i>
                            <span class="ms-2">Cookie Policy</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-info pt-5 pb-2">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="h-100 d-flex align-items-center justify-content-start">
              <nav class="navbar navbar-expand-lg p-0">
                <div class="currency" id="navbarNavDropup">
                  <ul class="navbar-nav">
                    <li class="nav-item dropup">
                      <a class="nav-link dropdown-toggle ps-0" href="#" id="language" role="button" data-bs-toggle="dropdown" aria-expanded="false">Languages</a>
                      <ul class="countries w-auto dropdown-menu dropdown-modern" aria-labelledby="language">
                        <li class="nav-item mt-1 mb-1 active">
                          <a href="#" class="d-flex align-items-center justify-content-start">
                            <div class="flag">
                              <img src="assets/img/countries/us.svg" width="100" height="100" alt="United States Flag">
                            </div>
                            <span class="ms-3">English - United States</span>
                          </a>
                        </li>
                        <li class="nav-item mt-1 mb-1">
                          <a href="#" class="d-flex align-items-center justify-content-start">
                            <div class="flag">
                              <img src="assets/img/countries/gb.svg" width="100" height="100" alt="United Kingdom Flag">
                            </div>
                            <span class="ms-3">English - United Kingdom</span>
                          </a>
                        </li>
                        <li class="nav-item mt-1 mb-1">
                          <a href="#" class="d-flex align-items-center justify-content-start">
                            <div class="flag">
                              <img src="assets/img/countries/ca.svg" width="100" height="100" alt="Canada Flag">
                            </div>
                            <span class="ms-3">English - Canada</span>
                          </a>
                        </li>
                        <li class="nav-item mt-1 mb-1">
                          <a href="#" class="d-flex align-items-center justify-content-start">
                            <div class="flag">
                              <img src="assets/img/countries/ua.svg" width="100" height="100" alt="Ukraine Flag">
                            </div>
                            <span class="ms-3">Ukrainian - Ukraine</span>
                          </a>
                        </li>
                        <li class="nav-item mt-1 mb-1">
                          <a href="#" class="d-flex align-items-center justify-content-start">
                            <div class="flag">
                              <img src="assets/img/countries/ch.svg" width="100" height="100" alt="Switzerland Flag">
                            </div>
                            <span class="ms-3">Romansh - Switzerland</span>
                          </a>
                        </li>
                        <li class="nav-item mt-1 mb-1">
                          <a href="#" class="d-flex align-items-center justify-content-start">
                            <div class="flag">
                              <img src="assets/img/countries/cn.svg" width="100" height="100" alt="China Flag">
                            </div>
                            <span class="ms-3">Chinese - China</span>
                          </a>
                        </li>
                        <li class="nav-item mt-1 mb-1">
                          <a href="#" class="d-flex align-items-center justify-content-start">
                            <div class="flag">
                              <img src="assets/img/countries/br.svg" width="100" height="100" alt="Brazil Flag">
                            </div>
                            <span class="ms-3">Portuguese - Brazil</span>
                          </a>
                        </li>
                        <li class="nav-item mt-1 mb-1">
                          <a href="#" class="d-flex align-items-center justify-content-start">
                            <div class="flag">
                              <img src="assets/img/countries/pt.svg" width="100" height="100" alt="Portugal Flag">
                            </div>
                            <span class="ms-3">Portuguese - Portugal</span>
                          </a>
                        </li>
                        <li class="nav-item mt-1 mb-1">
                          <a href="#" class="d-flex align-items-center justify-content-start">
                            <div class="flag">
                              <img src="assets/img/countries/fr.svg" width="100" height="100" alt="France Flag">
                            </div>
                            <span class="ms-3">French - France</span>
                          </a>
                        </li>
                        <li class="nav-item mt-1 mb-1">
                          <a href="#" class="d-flex align-items-center justify-content-start">
                            <div class="flag">
                              <img src="assets/img/countries/in.svg" width="100" height="100" alt="India Flag">
                            </div>
                            <span class="ms-3">Hindi - India</span>
                          </a>
                        </li>
                        <li class="nav-item mt-1 mb-1">
                          <a href="#" class="d-flex align-items-center justify-content-start">
                            <div class="flag">
                              <img src="assets/img/countries/es.svg" width="100" height="100" alt="Spain Flag">
                            </div>
                            <span class="ms-3">Spanish - Spain</span>
                          </a>
                        </li>
                        <li class="nav-item mt-1 mb-1">
                          <a href="#" class="d-flex align-items-center justify-content-start">
                            <div class="flag">
                              <img src="assets/img/countries/it.svg" width="100" height="100" alt="Italy Flag">
                            </div>
                            <span class="ms-3">Italian - Italy</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 d-flex align-items-center justify-content-start justify-content-md-end">
              <nav class="p-0">
                <ul class="icon-list icon-list-img d-flex flex-wrap p-0 p-md-1 mt-2">
                  <li class="nav-item rounded p-1 ps-0 ps-md-1">
                    <img src="assets/img/payment-methods/paypal-dark.svg" width="100" height="100" alt="PayPal Logo">
                  </li>
                  <li class="nav-item rounded p-1 ps-0 ps-md-1">
                    <img src="assets/img/payment-methods/skrill-dark.svg" width="100" height="100" alt="Skrill Logo">
                  </li>
                  <li class="nav-item rounded p-1 ps-0 ps-md-1">
                    <img src="assets/img/payment-methods/stripe-dark.svg" width="100" height="100" alt="Stripe Logo">
                  </li>
                  <li class="nav-item rounded p-1 ps-0 ps-md-1">
                    <img src="assets/img/payment-methods/bitcoin-dark.svg" width="100" height="100" alt="Bitcoin Logo">
                  </li>
                  <li class="nav-item rounded p-1 ps-0 ps-md-1">
                    <img src="assets/img/payment-methods/2checkout-card-dark.svg" width="100" height="100" alt="2checkout Logo">
                  </li>
                  <li class="nav-item rounded p-1 ps-0 ps-md-1">
                    <img src="assets/img/payment-methods/diners-club-dark.svg" width="100" height="100" alt="Diners Club Logo">
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright border-top">
      <div class="container">
        <div class="row g-2">
          <div class="col-md-6">
            <div class="h-100 d-flex align-items-center justify-content-start">
              <p class="m-0">Copyright 2023 © JavaEvangelist All rights reserved.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 d-flex align-items-end justify-content-end">
              <nav class="navbar navbar-expand-lg p-0">
                <ul class="navbar-nav">
                  <li class="nav-item ms-2">
                    <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                  </li>
                  <li class="nav-item ms-2">
                    <a href="terms-of-service.html" class="nav-link">Terms of Service</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>