<main>

    <section aria-label="Inexus blog article">

      <div class="container">

        <div class="row blog">

          <div class="col-md-12 col-lg-8 pe-lg-5">

            <!--CONTENT PAGE ########################## -->
            <div [innerHTML]="articleTxt"></div>
            <!--CONTENT PAGE ########################## -->


            <div class="row text-start mt-5 mb-2">
  
              <div class="col-xl-5 col-lg-6">
  
                <div class="d-flex flex-column">
  
                  <span class="h5">See our latest posts</span>
  
                  <span class="h2 mt-1 mb-2 mt-md-0">Lastest Posts</span>
  
                </div>
  
              </div>
  
              <div class="col-xl-7 col-lg-6 d-flex justify-content-start justify-content-lg-end align-items-center">
  
                <div class="d-flex align-items-xl-center justify-content-xl-end align-items-lg-center justify-content-lg-end mt-2 mt-lg-0">
                  <a href="blog.html" class="btn btn-lg rounded btn-primary text-white d-flex align-items-center justify-content-center">All Articles</a>
                </div>
  
              </div>
  
            </div>

            <div class="owl-carousel overflow-hidden text-start" data-slider-loop="on" data-slider-items="1" data-slider-margin="22" data-slider-autoplay="on" data-slider-autoplay-timeout="4000" data-slider-dots="on" data-slider-items-1200="2">

              <div class="d-flex">
  
                <div class="d-flex flex-column rounded bg-style-one overflow-hidden rounded border-light hover-shadow presentation">
  
                  <a href="blog-article.html" aria-label="Go to link blog article" class="w-100">
  
                    <div class="content-img auto overflow-hidden slider-thumbnail"><img class="hover-brightness-light hover-scale hover-bend" src="assets/img/design/blog-2.jpg" width="650" height="400" alt="blog"></div>
    
                  </a>
    
                  <div class="d-flex flex-column align-items-start p-4">
    
                    <span class="badge bg-blue-light text-black">Promotions</span>
    
                    <span class="h5 mt-3 title-preview">Promotions of the week - Check out the latest Inexus promotions.</span>
    
                    <p class="text-preview">See this week's list of promotions for various services at Inexus. shared hosting, vps servers, dedicated servers, domain registration, domain transfer, premium email services, website builder and much more. Get your promo codes now.</p>
    
                    <div class="avatar d-flex align-items-center">
    
                      <div class="content-img"><img class="img-fluid img-thumbnail" src="assets/img/profile/08m.jpg" alt="user profile"></div>
    
                      <div class="avatar-info d-flex flex-column ms-3">
    
                        <span class="h6 small mb-1">Morgan.Yu</span>
    
                        <span class="small text-muted">8:00 am on Feb 29, 2022</span>
    
                      </div>
    
                    </div>
    
                  </div>
  
                </div>
  
              </div>

              <div class="d-flex">

                <div class="d-flex flex-column rounded bg-style-one overflow-hidden rounded border-light hover-shadow presentation">
  
                  <a href="blog-article.html" aria-label="Go to link blog article" class="w-100">
  
                    <div class="content-img auto overflow-hidden slider-thumbnail"><img class="hover-brightness-light hover-scale hover-bend" width="650" height="400" src="assets/img/design/blog-1.jpg" alt="blog"></div>
    
                  </a>
    
                  <div class="d-flex flex-column align-items-start p-4">
    
                    <span class="badge bg-yellow-light text-black">Technology</span>
    
                    <span class="h5 mt-3 title-preview">New Inexus datacenter located in New York in the United States</span>
    
                    <p class="text-preview">We are pleased to inform you that today we launch the newest Inexus datacenter located in New York in the United States. Server hosting services, vps servers and dedicated servers are now available in the new datacenter. See the specs now.</p>
    
                    <div class="avatar d-flex align-items-center">
    
                      <div class="content-img"><img class="img-fluid img-thumbnail" src="assets/img/profile/08m.jpg" alt="user profile"></div>
    
                      <div class="avatar-info d-flex flex-column ms-3">
    
                        <span class="h6 small mb-1">Morgan.Yu</span>
    
                        <span class="small text-muted">7:00 am on Feb 28, 2022</span>
    
                      </div>
    
                    </div>
    
                  </div>
  
                </div>
  
              </div>
  
              <div class="d-flex">
  
                <div class="d-flex flex-column rounded bg-style-one overflow-hidden rounded border-light hover-shadow presentation">
  
                  <a href="blog-article.html" aria-label="Go to link #3" class="w-100">
  
                    <div class="content-img auto overflow-hidden slider-thumbnail"><img class="hover-brightness-light hover-scale hover-bend" width="650" height="400" src="assets/img/design/blog-3.jpg" alt="blog"></div>
    
                  </a>
    
                  <div class="d-flex flex-column align-items-start p-4">
    
                    <span class="badge bg-yellow-light text-black">Technology</span>
    
                    <span class="h5 mt-3 title-preview">New nexus app for Android and Ios</span>
    
                    <p class="text-preview">Nexus app released for Android and iOS. Download now from your store. The app was developed with a modern and simple design so that you can perform settings, password change, invoice payment and much more through the Inexus app.</p>
    
                    <div class="avatar d-flex align-items-center">
    
                      <div class="content-img"><img class="img-fluid img-thumbnail" src="assets/img/profile/09w.jpg" alt="user profile"></div>
    
                      <div class="avatar-info d-flex flex-column ms-3">
    
                        <span class="h6 small mb-1">Janaina Barbosa</span>
    
                        <span class="small text-muted">7:00 am on Feb 28, 2022</span>
    
                      </div>
    
                    </div>
    
                  </div>
  
                </div>
  
              </div>
  
            </div>

            <div class="d-flex flex-column mt-5">
              
              <div class="row mb-2">

                <div class="col-6"><div class="h6">Comments <span class="text-blue">(83)</span></div></div>

                <div class="col-6 d-flex align-items-center justify-content-end h-100">
                  <ul class="navbar-nav d-flex flex-wrap align-items-center justify-content-end p-0 m-0">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle p-0" href="#" id="nav-filter" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-funnel"></i>
                        <span>Filter: Recent</span>
                      </a>
                      <ul class="dropdown-menu p-2" aria-labelledby="nav-filter">
                        <li class="nav-link active p-1"><a href="#">Recent</a></li>
                        <li class="nav-link p-1"><a href="#">Old</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>

              </div>

              <div class="comments">

                <div class="comment mt-1 mb-1 pt-1 pb-1">

                  <div class="row mt-1 mb-1">

                    <div class="col-md-6">
  
                      <div class="avatar d-flex align-items-center mt-1">
        
                        <div class="content-img"><img class="img-fluid img-thumbnail border" src="assets/img/profile/08m.jpg" alt="user profile"></div>
      
                        <div class="avatar-info d-flex flex-column ms-3">
      
                          <span class="h6 small mb-1">Morgan.Yu</span>
      
                          <span class="small text-muted">8:00 am on Feb 29, 2022</span>
      
                        </div>
      
                      </div>
  
                    </div>
  
                    <div class="col-md-6 d-flex align-items-center justify-content-end">
                      <button class="btn btn-sm btn-primary"><i class="bi bi-reply"></i> <span>Reply</span></button>
                    </div>
  
                  </div>

                  <p class="mt-3 ms-4 border rounded p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis consectetur illum autem sunt ipsam, aliquam aspernatur eveniet adipisci non sequi, molestiae suscipit quaerat quisquam dignissimos nemo dolorem aut, odio nihil.</p>

                </div>

                <div class="comment mt-1 mb-1 pt-1 pb-1">

                  <div class="row mt-1 mb-1">

                    <div class="col-md-6">
  
                      <div class="avatar d-flex align-items-center mt-1">
        
                        <div class="content-img"><img class="img-fluid img-thumbnail border" src="assets/img/profile/18w.jpg" alt="user profile"></div>
      
                        <div class="avatar-info d-flex flex-column ms-3">
      
                          <span class="h6 small mb-1">Janaina B. Gonçalves</span>
      
                          <span class="small text-muted">8:00 am on Feb 29, 2022</span>
      
                        </div>
      
                      </div>
  
                    </div>
  
                    <div class="col-md-6 d-flex align-items-center justify-content-end">
                      <button class="btn btn-sm btn-primary"><i class="bi bi-reply"></i> <span>Reply</span></button>
                    </div>
  
                  </div>

                  <p class="mt-3 ms-4 border rounded p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis consectetur illum autem sunt ipsam, aliquam aspernatur eveniet adipisci non sequi, molestiae suscipit quaerat quisquam dignissimos nemo dolorem aut, odio nihil.</p>

                  <div class="reply mt-1 mb-1 pt-1 pb-1 ps-3 border-start ms-5">

                    <div class="row mt-1 mb-1">

                      <div class="col-md-6">
    
                        <div class="avatar d-flex align-items-center mt-1">
          
                          <div class="content-img"><img class="img-fluid img-thumbnail border" src="assets/img/profile/02m.jpg" alt="user profile"></div>
        
                          <div class="avatar-info d-flex flex-column ms-3">
        
                            <span class="h6 small mb-1">Thomas M. Holman</span>
        
                            <span class="small text-muted">12:00 am on Feb 29, 2022</span>
        
                          </div>
        
                        </div>
    
                      </div>
    
                      <div class="col-md-6 d-flex align-items-center justify-content-end">
                        <button class="btn btn-sm btn-primary"><i class="bi bi-reply"></i> <span>Reply</span></button>
                      </div>
    
                    </div>

                    <p class="mt-3 ms-4 border rounded p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis consectetur illum autem sunt ipsam, aliquam aspernatur eveniet adipisci non sequi, molestiae suscipit quaerat quisquam dignissimos nemo dolorem aut, odio nihil.</p>

                  </div>

                  <div class="reply mt-1 mb-1 pt-1 pb-1 ps-3 border-start ms-5">

                    <div class="row mt-1 mb-1">

                      <div class="col-md-6">
    
                        <div class="avatar d-flex align-items-center mt-1">
          
                          <div class="content-img"><img class="img-fluid img-thumbnail border" src="assets/img/profile/18w.jpg" alt="user profile"></div>
        
                          <div class="avatar-info d-flex flex-column ms-3">
        
                            <span class="h6 small mb-1">Janaina B. Gonçalves</span>
        
                            <span class="small text-muted">17:00 am on Feb 29, 2022</span>
        
                          </div>
        
                        </div>
    
                      </div>
    
                      <div class="col-md-6 d-flex align-items-center justify-content-end">
                        <button class="btn btn-sm btn-primary"><i class="bi bi-reply"></i> <span>Reply</span></button>
                      </div>
    
                    </div>

                    <p class="mt-3 ms-4 border rounded p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>

                  </div>

                  <div class="reply mt-1 mb-1 pt-1 pb-1 ps-3 border-start ms-5">

                    <div class="row mt-1 mb-1">

                      <div class="col-md-6">
    
                        <div class="avatar d-flex align-items-center mt-1">
          
                          <div class="content-img"><img class="img-fluid img-thumbnail border" src="assets/img/profile/41w.jpg" alt="user profile"></div>
        
                          <div class="avatar-info d-flex flex-column ms-3">
        
                            <span class="h6 small mb-1">Jennifer D. Stone</span>
        
                            <span class="small text-muted">21:00 am on Feb 29, 2022</span>
        
                          </div>
        
                        </div>
    
                      </div>
    
                      <div class="col-md-6 d-flex align-items-center justify-content-end">
                        <button class="btn btn-sm btn-primary"><i class="bi bi-reply"></i> <span>Reply</span></button>
                      </div>
    
                    </div>

                    <p class="mt-3 ms-4 border rounded p-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, et? Vel cumque tempore provident. Ad iusto, magni magnam quasi velit eius consequuntur similique.</p>

                    <a href="#" class="text-center text-blue">See more</a>

                  </div>

                </div>

                <div class="comment mt-1 mb-1 pt-1 pb-1">

                  <div class="row mt-1 mb-1">

                    <div class="col-md-6">
  
                      <div class="avatar d-flex align-items-center mt-1">
        
                        <div class="content-img"><img class="img-fluid img-thumbnail border" src="assets/img/profile/31m.jpg" alt="user profile"></div>
      
                        <div class="avatar-info d-flex flex-column ms-3">
      
                          <span class="h6 small mb-1">Edward Izaac</span>
      
                          <span class="small text-muted">13:00 am on Feb 29, 2022</span>
      
                        </div>
      
                      </div>
  
                    </div>
  
                    <div class="col-md-6 d-flex align-items-center justify-content-end">
                      <button class="btn btn-sm btn-primary"><i class="bi bi-reply"></i> <span>Reply</span></button>
                    </div>
  
                  </div>

                  <p class="mt-3 ms-4 border rounded p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis consectetur illum autem sunt ipsam, aliquam aspernatur eveniet adipisci non sequi, molestiae suscipit quaerat.</p>

                </div>

                <div class="comment mt-1 mb-1 pt-1 pb-1">

                  <div class="row mt-1 mb-1">

                    <div class="col-md-6">
  
                      <div class="avatar d-flex align-items-center mt-1">
        
                        <div class="content-img"><img class="img-fluid img-thumbnail border" src="assets/img/profile/41w.jpg" alt="user profile"></div>
      
                        <div class="avatar-info d-flex flex-column ms-3">
      
                          <span class="h6 small mb-1">Jennifer D. Stone</span>
      
                          <span class="small text-muted">21:04 am on Feb 29, 2022</span>
      
                        </div>
      
                      </div>
  
                    </div>
  
                    <div class="col-md-6 d-flex align-items-center justify-content-end">
                      <button class="btn btn-sm btn-primary"><i class="bi bi-reply"></i> <span>Reply</span></button>
                    </div>
  
                  </div>

                  <p class="mt-3 ms-4 border rounded p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum cumque consectetur nobis natus amet provident sint non labore at nulla dignissimos magni asperiores qui nihil dolorem mollitia, laboriosam fugit obcaecati! Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita eius, vel ut ratione non nisi, amet laborum delectus, quae porro commodi explicabo modi atque voluptatem at minima itaque! Sed, rerum?</p>

                </div>

              </div>

              <a href="#" class="text-center text-blue">See more</a>

              <span class="h6 mt-5">Leave A Comment</span>

              <form action="#" class="row gy-4 m-0 mt-2 border rounded p-4">

                <div class="col-md-6">
                  <label for="fname">Your Name</label>
                  <input type="text" class="form-control mt-2" id="fname" placeholder="Adrian Shepard">
                </div>

                <div class="col-md-6">
                  <label for="email">Your Email</label>
                  <input type="email" class="form-control mt-2" id="email" placeholder="adrian@example.com">
                </div>

                <div class="col-md-12">
                  <label for="comment">Comment</label>
                  <textarea name="comment" class="form-control mt-2" id="comment" cols="10" rows="8" placeholder="Hello!"></textarea>
                </div>

                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary">Submit Comment</button>
                </div>

              </form>

            </div>

          </div>

          <!--Lateral menu here ############ -->
          <div class="col-md-12 col-lg-4">
            <app-lateral-menu></app-lateral-menu>
          </div>
          <!--END lateral menu ########### -->

        </div>

      </div>

    </section>

  </main>